body {
  font-family: 'Press Start 2P', cursive;
  background: url('assets/gif.gif') no-repeat center center fixed;
  background-size: cover;
  color: #6b5b95;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}


h1 {
  font-size: 2em;
  color: #6b5b95;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  margin-bottom: 20px;
  color: #6b5b95;
}

.game-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 30px;
}

.game-card {
  background-color: #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 4px 0 #6b5b95;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s;
  width: 30%;
}

.game-card:hover {
  background-color: #ff6f61;
  transform: scale(1.05);
}

.game-card h2 {
  font-size: 1.5em;
  color: #6b5b95;
  margin-bottom: 10px;
}

.game-card p {
  font-size: 1.1em;
  color: #6b5b95;
}

.mode-selection {
  margin-top: auto; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  background-color: #ff6f61;
  color: #fff;
  border: 4px solid #6b5b95;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 4px 4px 0 #6b5b95;
  transition: transform 0.2s ease;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

button:hover {
  background-color: #ff4a3d;
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0 #6b5b95;
}
